#content{
    margin-top: 100px;
}

.remove{color:black;}
.remove:hover{color:red;}

.ok{color:black;}
.ok:hover{color:green;}

#search{
    width:200px;
    display:inline;
}

#search_community{
        float:right;
}

#create_share, #login, #update_profile{
    max-width:500px;
}

#money input[type="text"]{
    width:50px;
}

.time{
    font-size:10px;
    color:grey;
}
