{% extends "base.html" %}
{% block content %}
    <h1>Last shares</h1>

    <table class="table">
        {% for m in members %}
            {% if user.isMemberValidate(m.community) %}
                {% for share in m.community.shares %}
                    <tr>
                        <td>{{ share.title }}</td>
                        <td>{{ share.author.nickname }}</td>
                        <td>{{ share.timestamp }}</td>
                        <td>{{ share.people_in }} / {{ share.number_people }} people</td>
                        <td>${{ share.price_per_people }} / ${{ share.price_total }}</td>
                        <td>{{ share.community.title }}</td>
                        <td><a href="{{ url_for('share', share_id=share.id) }}" class="btn btn-default btn-xlarge">Details</a></td>
                    </tr>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </table>
{% endblock %}
