{% extends "base.html" %}
{% block content %}
    <h1>List of Community</h1>

    <form action="" method="get" id="search_community" name="search_community">
            {{ form.query(size=30, id="search", class="form-control", placeholder="Search...") }}
            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
    </form>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Creator</th>
                <th>Join</th>
                <th></th>
            </tr>
        </thead>
        {% for community in communities %}
            <tr>
                <td>{{ community.title }}</td>
                <td>{{ community.desc }}</td>
                <td>{{ community.owner.email }}</td>

                {% if user.isMemberValidate(community) %}
                    <td><a class="remove" href="?leave={{ community.id }}"><span class="glyphicon glyphicon-log-out"></a></span></td>
                {% elif user.isMember(community) %}
                    <td><span class="glyphicon glyphicon-time"></a></td>
                {% else %}
                    <td><a class="ok" href="?join={{ community.id }}"><span class="glyphicon glyphicon-ok"></a></span></td>
                {% endif %}

                <td>{% if user==community.owner %}<a class="remove" href="?remove={{ community.id }}"><span class="glyphicon glyphicon-remove"></span></a>{% endif %}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
